@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Roboto&display=swap');
/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#app {
	height: 100vh;
	width: 100vw;
	background: rgb(15, 15, 15);
	color: rgb(250, 250, 250);
	font-family: 'Roboto', sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
}

.layoutTop {
	height: 50px;
	background: rgb(30, 30, 30);
}

.layoutMiddle {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
}

.layoutMiddleLeft {
	flex-grow: 1;
}

.layoutMiddleRight {
	flex-grow: 4;
}

.layoutBottom {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.layoutBottomLeft {
	flex-grow: 1;
}

.layoutBottomRight {
	flex-grow: 3;
}

.layoutControls {
	height: 100px;
	background: rgb(30, 30, 30);
	display: flex;
	flex-direction: row;
}

.controlsContainer {
	padding: 20px;
	height: 100%;
	align-content: center;
}

.playerControls {
	width: 300px;
}

.songInfo {
	flex-grow: 1;
}

.playerOptions {
	width: 300px;
}
